.fundoCadastro {
    background-image: url("https://ik.imagekit.io/caciasrs/page-detail.jpg?updatedAt=1737468350011");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}